mixin feedback()
  mixin feedback__item()
    - const { modifier, caption } = attributes;
    li.feedback__item(class=(modifier ? `feedback__item--${modifier}` : null))
      label.feedback__label
        span.feedback__caption= caption
        block
  -
    const _INPUTS = [
      ['fullname', 'text', 'Фамилия и имя', 'Сидоров Александр'],
      ['email', 'email', 'Электронная почта', 'sidorov@yandex.ru'],
      ['tel', 'tel', 'Телефон', '+7 (999) 328-14-20'],
    ];
    const _TEXTAREA = {
      caption: 'Какой деятельностью, не связанной с текущими проектами, вы бы хотели заниматься в рабочее время?',
      placeholder: 'Свой проект по созданию универсальной инфраструктуры строительства',
    };

  .feedback
    .s-container.feedback__container
      .feedback__content
        h2.feedback__heading(class=setModifiers('s-heading', ['small']))
          | Теперь расскажите о себе
        form.feedback__form(
          action=$FORM_DEFAULT_ACTION,
          method='POST',
          name='feedback',
        )
          ol.s-list.feedback__list
            each field in _INPUTS
              -
                const [name, type, caption, placeholder] = field;
              +feedback__item(caption=caption)
                input(
                  class=setModifiers('feedback__field', ['input']),
                  type=type,
                  name=name,
                  placeholder=placeholder,
                  required,
                )
            +feedback__item(
              modifier='last',
              caption=_TEXTAREA.caption,
            )
              textarea(
                class=setModifiers('feedback__field', ['area']),
                name='about',
                placeholder=_TEXTAREA.placeholder,
                required,
              )
          +button().feedback__button(type='submit') Отправить
